html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 1;
  padding: 1;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Header */
header {
  background-color: #222;
  padding: 20px;
  text-align: center;
}

.topnav {
  margin-bottom: 2px;
}

.topnav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #444;
}

.topnav a.active {
  background-color: #66ffcc;
}

/* Sections */
section {
  padding: 40px;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Carousel */
.carousel {
  margin-bottom: 40px;
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 150px; /* Adjust the height to your desired value */
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 50px; /* Adjust the height to match the slider height */
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  height: 50%; /* Set the image height to 100% to fit within the slide */
  width: auto; /* Maintain the image's aspect ratio */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* Contact Section */
#contact {
  background-color: #f9f9f9;
  text-align: center;
}

#contact h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

#contact p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
}
